<ion-header>
  <ion-toolbar>
    <ion-title>JURASSIC WORLD</ion-title>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <p>Jurassic World</p>
        <p>(2022)</p>
      </ion-card-header>
      <ion-card-content>
        <ion-thumbnail>
          <img
            src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/iTP3mMw0AoqmScYzDoMmYeKxYe.jpg"
            alt="Banner Jurassic World"
          />
        </ion-thumbnail>
      </ion-card-content>
      <ion-card-content>
        <ion-item class="section-title">
          <ion-icon name="book"></ion-icon>
          <p>Sinopse</p>
        </ion-item>
        <ion-item class="section-content">
          <p>
            Quatro anos após a destruição da Ilha Nublar, os dinossauros agora
            vivem – e caçam – ao lado de humanos em todo o mundo. Esse frágil
            equilíbrio remodelará o futuro e determinará, de uma vez por todas,
            se os seres humanos continuarão sendo os principais predadores em um
            planeta que agora compartilham com as criaturas mais temíveis da
            história.
          </p>
        </ion-item>
        <ion-item class="section-title">
          <ion-icon name="star"></ion-icon>
          <p>Avaliações</p>
        </ion-item>
        <ion-item class="section-content error-text">
          Esse filme ainda não possui avaliações.
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
