ion-grid {
  height: 90vh;
  ion-card {
    height: fit-content;
    ion-card-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 5rem;
      p {
        width: fit-content;
        font-size: 1.7rem;
        font-weight: 600;
        color: #121214;
      }
      p+p {
        width: fit-content;
        margin-left: .5rem;
        margin-top: 1.1rem;
        font-size: 1.2rem;
        color: rgb(95, 95, 95);
      }
    }
    ion-card-content {
      ion-thumbnail {
        width: 50%;
        height: 50%;
        margin: auto;
        img {
          transition: .3s ease-in;
          border-radius: 8px;
          background-color: #121214;
        }
      }
      ion-thumbnail:hover {
        img {
          opacity: .5;
        }
      }
    }
  }
}

ion-item {
  text-align: justify;
}
