<ion-header>
  <ion-toolbar>
    <ion-title>INEXORABLE</ion-title>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <p>Inexorable</p>
        <p>(2022)</p>
      </ion-card-header>
      <ion-card-content>
        <ion-thumbnail>
          <img
            src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/iiclsw6zgRJz5D5Cc6sn4Cs9GQo.jpg"
            alt="Banner Inexorable"
          />
        </ion-thumbnail>
      </ion-card-content>
      <ion-card-content>
        <ion-item class="section-title">
          <ion-icon name="book"></ion-icon>
          <p>Sinopse</p>
        </ion-item>
        <ion-item class="section-content">
          <p>
            Desperately seeking inspiration for the follow-up novel to his
            bestseller "Inexorable", Marcel Bellmer moves in his wife's old
            family mansion with his family.
          </p>
        </ion-item>
        <ion-item class="section-title">
          <ion-icon name="star"></ion-icon>
          <p>Avaliações</p>
        </ion-item>
        <ion-item class="section-content error-text">
          Esse filme ainda não possui avaliações.
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
