<ion-header>
  <ion-toolbar>
    <ion-title>DRAGON BALL SUPER</ion-title>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <p>Dragon Ball Super</p>
        <p>(2022)</p>
      </ion-card-header>
      <ion-card-content>
        <ion-thumbnail>
          <img
            src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/FiqBRypTDyHzqcxdbpPb3ddFep.jpg"
            alt="Banner Dragon Ball"
          />
        </ion-thumbnail>
      </ion-card-content>
      <ion-card-content>
        <ion-item class="section-title">
          <ion-icon name="book"></ion-icon>
          <p>Sinopse</p>
        </ion-item>
        <ion-item class="section-content">
          <p>
            Com suas capas balançando, Gamma 1 e Gamma 2 podem ser vistos
            fazendo algumas poses incríveis! Além disso, há alguns novos
            personagens originais que teremos que esperar para descobrir mais,
            não importa o quão difícil possa ser! Vestindo seu uniforme e
            tomando o centro do palco está Gohan, que parece estar se preparando
            para a luta de uma vida ao lado de Piccolo, Goku, Vegeta e Pan!
          </p>
        </ion-item>
        <ion-item class="section-title">
          <ion-icon name="star"></ion-icon>
          <p>Avaliações</p>
        </ion-item>
        <ion-item class="section-content error-text">
          Esse filme ainda não possui avaliações.
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
