<ion-header>
  <ion-toolbar>
    <ion-title>A FERA</ion-title>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <p>A Fera</p>
        <p>(2022)</p>
      </ion-card-header>
      <ion-card-content>
        <ion-thumbnail>
          <img
            src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/crnUUp1cyqwR9NeGhdt0mMQNN0Y.jpg"
            alt="Banner A Fera"
          />
        </ion-thumbnail>
      </ion-card-content>
      <ion-card-content>
        <ion-item class="section-title">
          <ion-icon name="book"></ion-icon>
          <p>Sinopse</p>
        </ion-item>
        <ion-item class="section-content">
          <p>
            O Dr. Nate Samuels é um homem que perdeu a mulher recentemente, e
            decide fazer uma viagem com as filhas para uma reserva na África do
            Sul, onde conheceu a esposa. Mas o que começa como uma viagem
            tranquila, acaba se tornando um pesadelo quando eles passam a ser
            perseguidos por um leão.
          </p>
        </ion-item>
        <ion-item class="section-title">
          <ion-icon name="star"></ion-icon>
          <p>Avaliações</p>
        </ion-item>
        <ion-item class="section-content error-text">
          Esse filme ainda não possui avaliações.
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
