<ion-header>
  <ion-toolbar>
    <ion-title>CARROS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <p>Carros</p>
        <p>(2006)</p>
      </ion-card-header>
      <ion-card-content>
        <ion-thumbnail>
          <img
            src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/2nM2NRV8wt3n3ffoHQ3KdMkY3vR.jpg"
            alt="Banner Carros"
          />
        </ion-thumbnail>
      </ion-card-content>
      <ion-card-content>
        <ion-item class="section-title">
          <ion-icon name="book"></ion-icon>
          <p>Sinopse</p>
        </ion-item>
        <ion-item class="section-content">
          <p>
            Ao viajar para a <strong>Califórnia</strong>, o famoso carro de corridas Relâmpago
            McQueen se perde e vai parar em Radiator Springs, uma cidadezinha na
            <strong>Rota 66</strong>. Ele conhece novos amigos e aprende lições que mudam sua
            forma de encarar a vida.
          </p>
        </ion-item>
        <ion-item class="section-title">
          <ion-icon name="star"></ion-icon>
          <p>Avaliações</p>
        </ion-item>
        <ion-item class="section-content error-text">
          Esse filme ainda não possui avaliações.
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
