<ion-header [translucent]="true">
  <ion-toolbar mode="md">
    <ion-title>
      FILMES
    </ion-title>
    <ion-icon name="film" slot="start"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item routerLink="/carros">
      <ion-thumbnail>
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/2nM2NRV8wt3n3ffoHQ3KdMkY3vR.jpg" />
      </ion-thumbnail>
      <ion-card-content>
        <div>
          <p>Carros</p>
          <p>(2006)</p>
        </div>
        <ion-label>
          Uma série de filmes de comédia de ação e aventura animada por computador que segue as aventuras de
          Faisca McQueen e Mater, ambientada num mundo povoado inteiramente por carros antropomórficos e outros
          veículos.
        </ion-label>
        <div hidden>
          <ion-badge>Oi</ion-badge>
        </div>
      </ion-card-content>
      <ion-chip>60%</ion-chip>
    </ion-item>
    <ion-item routerLink="/dragon-ball">
      <ion-thumbnail>
        <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/FiqBRypTDyHzqcxdbpPb3ddFep.jpg" />
      </ion-thumbnail>
      <ion-card-content>
        <div>
          <p>Dragon Ball</p>
          <p>(2022)</p>
        </div>
        <ion-label>
          Com suas capas balançando, Gamma 1 e Gamma 2 podem ser vistos fazendo algumas poses incríveis! Além disso, há
          alguns novos personagens originais que teremos que esperar para descobrir mais, não importa o quão difícil
          possa ser! Vestindo seu uniforme e tomando o centro do palco está Gohan, que parece estar se preparando para a
          luta de uma vida ao lado de Piccolo, Goku, Vegeta e Pan! (sinopse temporária)
        </ion-label>
      </ion-card-content>
      <ion-chip>80%</ion-chip>
    </ion-item>
    <ion-item routerLink="/jurassic-world">
      <ion-thumbnail>
        <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/w6Jz1AgjscqBuS8qXBd0wUHz5zC.jpg" />
      </ion-thumbnail>
      <ion-card-content>
        <div>
          <p>Jurassic World</p>
          <p>(2022)</p>
        </div>
        <ion-label>
          Quatro anos após a destruição da Ilha Nublar, os dinossauros agora vivem – e caçam – ao lado de humanos em
          todo o mundo. Esse frágil equilíbrio remodelará o futuro e determinará, de uma vez por todas, se os seres
          humanos continuarão sendo os principais predadores em um planeta que agora compartilham com as criaturas mais
          temíveis da história.
        </ion-label>
      </ion-card-content>
      <ion-chip>71%</ion-chip>
    </ion-item>
    <ion-item routerLink="/inexorable">
      <ion-thumbnail>
        <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/iiclsw6zgRJz5D5Cc6sn4Cs9GQo.jpg" />
      </ion-thumbnail>
      <ion-card-content>
        <div>
          <p>Inexorable</p>
          <p>(2022)</p>
        </div>
        <ion-label>
          Desperately seeking inspiration for the follow-up novel to his bestseller "Inexorable", Marcel Bellmer moves
          in his wife's old family mansion with his family.
        </ion-label>
      </ion-card-content>
      <ion-chip>56%</ion-chip>
    </ion-item>
    <ion-item routerLink="/minions-two">
      <ion-thumbnail>
        <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/iTP3mMw0AoqmScYzDoMmYeKxYe.jpg" />
      </ion-thumbnail>
      <ion-card-content>
        <div>
          <p>Minions 2</p>
          <p>(2022)</p>
        </div>
        <ion-label>
          A continuação das aventuras dos Minions, sempre em busca de um líder tirânico. Dessa vez, eles ajudam um Gru
          ainda criança, descobrindo como ser vilão.
        </ion-label>
      </ion-card-content>
      <ion-chip>76%</ion-chip>
    </ion-item>
    <ion-item routerLink="/a-fera">
      <ion-thumbnail>
        <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/crnUUp1cyqwR9NeGhdt0mMQNN0Y.jpg" />
      </ion-thumbnail>
      <ion-card-content>
        <div>
          <p>A Fera</p>
          <p>(2022)</p>
        </div>
        <ion-label>
          O Dr. Nate Samuels é um homem que perdeu a mulher recentemente, e decide fazer uma viagem com as filhas para
          uma reserva na África do Sul, onde conheceu a esposa. Mas o que começa como uma viagem tranquila, acaba se
          tornando um pesadelo quando eles passam a ser perseguidos por um leão.
        </ion-label>
      </ion-card-content>
      <ion-chip>71%</ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
