<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      VIDEOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item routerLink="/carros">
      <ion-thumbnail>
        <img
          src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/2nM2NRV8wt3n3ffoHQ3KdMkY3vR.jpg"
        />
      </ion-thumbnail>
      <ion-card-content>
        <div>
          <p>Carros</p>
          <p>(2006)</p>
        </div>
        <p>"Incrível" - Alguem</p>
      </ion-card-content>
      <ion-chip>60%</ion-chip>
    </ion-item>
    <ion-item routerLink="/dragon-ball">
      <ion-thumbnail>
        <img
          src="https://www.themoviedb.org/t/p/w220_and_h330_face/FiqBRypTDyHzqcxdbpPb3ddFep.jpg"
        />
      </ion-thumbnail>
      <ion-card-content>
        <div>
          <p>Dragon Ball</p>
          <p>(2022)</p>
        </div>
        <p>Lorem Ipsum Ammet Desint</p>
      </ion-card-content>
      <ion-chip>80%</ion-chip>
    </ion-item>
    <ion-item routerLink="/jurassic-world">
      <ion-thumbnail>
        <img
          src="https://www.themoviedb.org/t/p/w220_and_h330_face/w6Jz1AgjscqBuS8qXBd0wUHz5zC.jpg"
        />
      </ion-thumbnail>
      <ion-card-content>
        <div>
          <p>Jurassic World</p>
          <p>(2022)</p>
        </div>
        <p>Lorem Ipsum Ammet Desint</p>
      </ion-card-content>
      <ion-chip>71%</ion-chip>
    </ion-item>
    <ion-item routerLink="/inexorable">
      <ion-thumbnail>
        <img
          src="https://www.themoviedb.org/t/p/w220_and_h330_face/iiclsw6zgRJz5D5Cc6sn4Cs9GQo.jpg"
        />
      </ion-thumbnail>
      <ion-card-content>
        <div>
          <p>Inexorable</p>
          <p>(2022)</p>
        </div>
        <p>Lorem Ipsum Ammet Desint</p>
      </ion-card-content>
      <ion-chip>56%</ion-chip>
    </ion-item>
    <ion-item routerLink="/minions-two">
      <ion-thumbnail>
        <img
          src="https://www.themoviedb.org/t/p/w220_and_h330_face/iTP3mMw0AoqmScYzDoMmYeKxYe.jpg"
        />
      </ion-thumbnail>
      <ion-card-content>
        <div>
          <p>Minions 2</p>
          <p>(2022)</p>
        </div>
        <p>Lorem Ipsum Ammet Desint</p>
      </ion-card-content>
      <ion-chip>76%</ion-chip>
    </ion-item>
    <ion-item routerLink="/a-fera">
      <ion-thumbnail>
        <img
          src="https://www.themoviedb.org/t/p/w220_and_h330_face/crnUUp1cyqwR9NeGhdt0mMQNN0Y.jpg"
        />
      </ion-thumbnail>
      <ion-card-content>
        <div>
          <p>A Fera</p>
          <p>(2022)</p>
        </div>
        <p>Lorem Ipsum Ammet Desint</p>
      </ion-card-content>
      <ion-chip>71%</ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
